@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono:wght@500;700&display=swap');

:root{
  --color-background:#f6f6f9;
  --color-container:#f4f4f4;
  --color-text:#1b1b1b;
  --color-warning:#F3A712;
  --color-ended:#DB2B39;
  --color-completed:#0CF574;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 55%;
  height: 65vh;
  padding: 0;
  background-color:  var(--color-container);
  color:var(--color-text);
  border-radius: 20px;
  min-width: 350px;
  box-shadow: 0px 0px 1rem -0.3rem #222;
}

body{
  background-color: var(--color-background);

}
li {
  list-style: none;
  /* background: */
}

li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin: 0 1rem;
}

li a:hover {
  border-width: 70%;
  border-bottom: 1px solid #000;
}

header {
  position: sticky;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  /* background: linear-gradient(90deg, #a5dff6ee 0%, #96ddfac6 100%); */
  opacity: 1;
  font-weight: bold;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  /* box-shadow: 1px 1px 2px #222; */
  box-shadow: 0px -2px 10px #222;
}

.btn {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
  font-size: 14px;
  padding-top: 9px;
  color:#000;
  text-align: center; 
  vertical-align: center;
  margin: auto;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}


::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 75, 75);
  border-radius: 10px;
}

input::-ms-clear{
  display: none;
}

.alert-wrapper{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  animation: alertMove 8s 1;
  animation-fill-mode: forwards;
  z-index: 5034;
  border:none;
}

.alert-inner{
  width: 30%;
  margin: 2rem auto;
    border:none;
}

.alert{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100%;
  top:0;
  left:0;
  z-index:1;
    border:none;
}

.endbtn{
  cursor: pointer;
}

@keyframes alertMove {
  0% {
    transform: translateY(-70px);
    opacity: 0.1;
  }

  10%{
    transform: translateY(30px);
    opacity: 1;
  }

  50%{
    transform: translateY(30px);
  }

  100% {
    display: none;
    transform: translateY(-545px);
  }
}