{% extends 'base.html' %}

{% load static %}
{% load tz %}

{% block styles_css %}
    
    <link rel="stylesheet" href="{% static 'project/styles/add.css' %}">
{% endblock styles_css %}

{% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
        {% timezone "Europe/Kyiv" %}

            {% for field in form %}
            {% if field.label != 'Complete' %}
            {{field}}
            {% endif %}
            {% endfor %}
            <div class="add-btn">
                <button type="submit" class="btn btn-primary add">Add</button>
            </div>
            {% endtimezone %}
        </form>
    </div>

{% endblock content %}