{% extends 'base.html' %}

{% load static %}

{% block styles_css %}
    <link rel="stylesheet" href="{% static 'project/styles/delete.css' %}">
{% endblock styles_css %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="main-text">
                <h1>Are you sure?</h1>
            </div>
            <div class="wrapper-btn">
                <button class="btn btn-success" type="submit">Yes</button>
                <a href="{% url 'index' %}" class="btn btn-danger">No</a>
            </div>
        </div>
    </form>
{% endblock content %}