{% extends 'base.html' %}
{% load tz %}

{% load static %}

{% block styles_css %}
<link rel="stylesheet" href="{%static 'project/styles/detail.css' %}">
{% endblock styles_css %}

{% block content %}

    <div class="container">
        <h1 class="main-text">{{task.title}}</h1>
        <div class="text">
            {% if task.description %}
            <p>{{task.description}}</p>
            {% else %}
            <h2>No any info</h2>
            {% endif %}

        </div>
        {% timezone "Europe/Kyiv" %}
        <div class="wrapper-time">
            
            <h3 class="timeleft">{% if task.timeleft != 0 %}Due: {{task.due|timeuntil}} {% else %}Time out!{% endif %}</h3>
            {% if not task.timeleft %}
                <h3 class="timesince">Overdue by: {{task.due|timesince}}</h3>
            {% endif %}
        </div>
        {% endtimezone %}
    </div>
{% endblock content %}