{% extends 'base.html' %}
{% load static %}

{% block styles_css %}
    <link rel="stylesheet" href="{% static 'project/styles/register.css' %}">
    <link rel="stylesheet" href="{% static 'project/styles/login.css' %}">
{% endblock styles_css %}

{% block content %}
    {% comment %} <div class="container"> {% endcomment %}
        {% comment %} <h1 class="main-text">Log in</h1> {% endcomment %}
        
        <form action="" method="POST">
            {% csrf_token %}
            <div class="container-login">
        <div class="card">
            <a class="login">Log in</a>

            {% for field in form %}
                <div class="inputBox">
                    {{field}}
                    <span class="user">{{field.label}}</span>
                </div>
                {{field.errors}}
            {% endfor %}
            {% if error %}
            <p>{{error}}</p>    
            {% endif %}

            <button class="enter" type="submit">Enter</button>

        </div>
    </div>
        </form>
    
{% endblock %}
