{% extends 'base.html' %} {% load static %} {% block styles_css %}
<link rel="stylesheet" href="{% static 'project/styles/register.css' %}" />
{% endblock styles_css %} {% block content %}
<div class="container-sign__up">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="card">
      <a class="singup">Sign Up</a>

        {% for field in form %}
            <div class="inputBox">
                {{field}}
                <span class="user">{{field.label}}</span>
                {{field.error}}
            </div>

        {% endfor %}
{% comment %} 
      <div class="inputBox">
        <input type="text" required="required" />
        <span class="user">Email</span>
      </div>

      <div class="inputBox">
        <input type="text" required="required" />
        <span>Username</span>
      </div>

      <div class="inputBox">
        <input type="password" required="required" />
        <span>Password</span>
      </div> {% endcomment %}

      <button class="enter">Enter</button>
    </div>
  </form>
</div>

{% endblock %}
