.container{
    width: 50%;
    height: 60%;
    padding: 1rem;
}

.add-btn{
    position: fixed;
    top:85%;
    left:50%;
    transform: translate(-50%, -50%);
}

.add{
    width: 7rem;
}

.inp{
    margin: 1rem 0;
    border: 2px solid #222;
    font-size: 19px;
}



#id_description{
    resize: none;
    height: 25vh;
}

.inp::placeholder{
    color:#111;
    font-size: 19px;
}

#datetime{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin:0 auto;
    border:2px solid #222;
    border-radius: 19px;
    color:#111;
}


