p {
  margin: 0;
}




.up-side {
  height: 30%;
  /* background-color: red; */
}

.not-logged{
  text-transform: uppercase;
}

.down-side h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.btn-down {
  display: flex;
  justify-content: space-between;
}

.wrapper-btn {
  width: 50%;
  margin: 3rem auto;
}

.btn {
  width: 45%;
  font-size: 19px;
  background-color: #6366f1;
  border: none;
}

.add-btn {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.svg-ico {
  height: 21px;
  /* float: right; */
  margin: 0.5rem 0;
}

.done {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: #222;
}

.list {
  width: 90%;
  margin: 1rem auto;
  height: 62%;
  overflow-y: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0.5rem auto;
  background-color: #f2f2f2;
  height: 3.2rem;
  padding: 0.3rem 1rem;
  font-size: 24px;
  border-radius: 15px;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 4px #eaeaea;
}

.list-item:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 1rem #fff;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > .one:hover,
.icons > .two:hover {
  transform: scale(1.2);
}

.link-detail {
  display: inline-block;
  width: 100%;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.ended {
  border: 1px solid red;
  box-shadow: 0 0px 4px red;
}

.warning {
  border: 1px solid #ffcc00;
  box-shadow: 0 0px 4px #ffcc00;

}

.complete {
  border: 1px solid green;
  box-shadow: 0 0px 4px green;
}

.search {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  height: 4.5rem;
  width: 100%;
  margin: 0 auto;
}

.search-inp{
    display: inline-block;
    width: 70%;
    margin: 0;
    font-size:20px;
    margin:1rem 0 0 1rem;
}

.find-btn {
    width: 16%;
    padding: 0.5rem 0;
}

.clear-btn{
    width: 6%;
    padding: 0.5rem 0;
    background-color: transparent;
    border:1px solid #222;
    color:#222;
}