

p{
  margin: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 55%;
  height: 65vh;
  /* margin: auto; */
  padding: 0;
  background-color: #8de8e8d2;
  background: linear-gradient(#8de8e8d2 40%, #70caee4d 100%);
  border-radius: 20px;
  min-width: 350px;
}

.main-text{
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  height: 4.5rem;
  text-transform: uppercase;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
  background: linear-gradient(90deg, #ebebebee 0%, #ffffffc6 100%);
}

.container h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  
}

.up-side{
  height: calc(35% - 5rem);
  /* background-color: red; */
}

.down-side h2{
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.btn-down{
  display:flex;
  justify-content: space-between;
}

.wrapper-btn{
  width: 50%;
  margin:3rem auto;
}

.btn{
  width: 45%;
  font-size: 19px;
  background-color: #6366f1;
  border: none;
}

.add-btn{
  position: fixed;
  top: 85%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.svg-ico{
  height: 21px;
  /* float: right; */
  margin: 0.5rem 0;
}

.done{
  text-decoration: line-through;
}

a{
  text-decoration: none;
  color:#222;
}

.list{
  width: 90%;
  margin: 1rem auto;
  height: 62%;
  overflow-y: auto;
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin:0.5rem auto;
  background-color: #f2f2f2;
  height: 3.2rem;
  padding: 0.3rem 1rem;
  font-size:24px;
  border-radius: 15px;
  transition: all 0.3s ease-out;
}

.list-item:hover{
  transform: scale(1.02);
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons> .one:hover, .icons > .two:hover{
  transform: scale(1.2);
}

.link-detail{
  display: inline-block;
  width: 100%;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.ended{
  border:1px solid red;
  background-color: #ff00005c;
}

.complete{
  border-color: green;
  background-color: rgba(0, 178, 0, 0.296);
}