
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 55%;
  height: 65vh;
  /* margin: auto; */
  padding: 0;
  background-color: #8de8e8d2;
  background: linear-gradient(#8de8e8d2 40%, #70caee4d 100%);
  border-radius: 20px;
}

.main-text{
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  height: 4.5rem;
  text-transform: uppercase;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
  background: linear-gradient(90deg, #ebebebee 0%, #ffffffc6 100%);
}

.container h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  
}

.up-side{
  height: calc(35% - 5rem);
  /* background-color: red; */
}

.down-side h2{
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.btn-down{
  display:flex;
  justify-content: space-between;
}

.wrapper-btn{
  width: 50%;
  margin:3rem auto;
}

.btn{
  width: 45%;
  font-size: 19px;
  background-color: #6366f1;
  border: none;
}

.add-btn{
  position: fixed;
  top: 85%;
  left:50%;
  transform: translate(-50%, -50%);
}

.grid-con{
  width: 90%;
  margin: 0.7rem auto;
}

.card-body{
  display:block;
  height: 55px;
  font-size: 20px;
  padding: 1.2%;
}

.card-body p{
  display:inline;
}

.svg-ico{
  height: 21px;
  float: right;
  margin: 0.5rem 0;
  /* border:1px solid red; */
}

.done{
  text-decoration: line-through;
}

