.wrapper-complete{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 2rem;
}

#id_complete{
    display: inline-block;
    margin: 0.3rem;
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
}

#id_description{
    resize: none;
    height: 25vh;
}